ErrorDocument 404 /gestion/views/404.php

RewriteEngine on

# Block access to specific directories
RewriteRule ^(.git/|controller/|views/) - [F,L,NC]

# Block access to specific files
RewriteRule ^(\\.gitignore|package\\.json|package-lock\\.json|README\\.md|variables\\.php)$ - [F,L,NC]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !\.(css|js|gif|jpg|png|ico)$ [NC]

RewriteRule ^ index.php [QSA,l]